@import "./components/normalize.scss";
@import "./components/variables.scss";
@import "./components/footer.scss";
@import "./components/header.scss";

.cover {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  background: url("../images/happy-senior-gardening.png") no-repeat center;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(94, 36, 49, 0.82);
    z-index: 0;
  }

  &--inner {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    z-index: 9;
    color: $white;
    position: relative;

    .sub--heading {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      a {
        font-size: 2.4rem;
        color: $primary;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 500;

        i {
          padding-left: 1rem;
        }
      }
    }
  }

  &--video {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    color: $white;
  }
}

#about {
  background: $background;
  margin-bottom: -2rem;
}

.card {
  position: relative;
  display: flex;
  background: $white;

  &--small {
    top: -5rem;
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
  }

  & > * {
    flex: 1 0 50%;
  }

  &--img {
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      max-height: 450px;
      object-fit: cover;
    }
  }

  &--body {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    > h2 {
      margin: 0;
    }

    p {
      margin: 3rem 0;
    }
  }

  &--full {
    display: flex;

    & > * {
      flex: 1 0 50%;
    }
    .card--img img {
      min-height: 700px;
    }

    .card--body {
      padding: 1rem;

      .body--inner {
        border: 1px solid $secoundary;
        padding: 15rem 10rem;
        justify-content: space-evenly;
        height: 100%;

        a {
          display: inline-block;
          margin-top: 4rem;
        }
      }
    }

    .line {
      width: 150px;
      height: 1px;
      background: $copper;
      display: inline-block;
    }
  }

  &--reverse {
    flex-direction: row-reverse;
  }
}

.services {
  background-color: $background;
  text-align: center;
  padding: 1rem 0 7rem;
  background-image: url("../images/leaf-inverse.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: -20rem;
  background-position-y: 20rem;

  &--grid {
    padding: 3rem 0;
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;

    .services--item {
      display: flex;
      flex-direction: column;
      align-items: center;

      .img--wrapp {
        cursor: pointer;
        width: 90px;
        height: 90px;
        background: $copper;
        border-radius: 50%;
        display: flex;
        transition: all 0.3s ease-in-out;

        img {
          margin: auto;
          height: 50px;
          width: 50px;
        }
      }

      &:hover {
        .img--wrapp {
          transform: scale(1.05);
          //   box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 16px 0px;
        }
      }
    }
  }
}

.testimonial {
  padding: 7rem 0;
  text-align: center;
  background: $background;
  background-image: url("../images/leaf-inverse.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: -20rem;
  background-position-y: 26rem;

  h2 {
    margin-bottom: 4rem;
  }

  .container {
    position: relative;
    .swiper-container {
      .content {
        width: 50%;
        max-width: 600px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        .img--wrapp {
          height: 120px;
          width: 92px;
          border: 1px solid $secoundary;
          border-radius: 46px;
          display: flex;
          img {
            margin: auto;
            width: 100%;
            padding: 3px;
          }
        }

        p {
          font-family: $cormorant;
          font-size: 1.9rem;
          color: $secoundary;
          font-style: italic;
          font-weight: 400;
          margin: 3rem 0;
        }

        span {
          text-transform: uppercase;
          font-size: 1.8rem;
          font-style: italic;
          font-family: $cormorant;
        }
      }

      .swiper-custom-btn {
        position: absolute;
        top: 50%;
        width: 60px;
        height: 60px;
        border: 1px solid $secoundary;
        border-radius: 50%;
        display: flex;
        transform: translateY(-50%);
        cursor: pointer;
        z-index: 99;

        &.button-next {
          right: 0;
        }

        &:active:focus-within {
          outline: none;
        }

        i {
          margin: auto;
          color: $secoundary;
          font-size: 1.5rem;
        }
      }
    }
  }
}

.contact {
  padding: 1rem;

  &--inner {
    border: 1px solid $secoundary;
    padding: 5rem 0;
  }

  &--content {
    max-width: 600px;
    width: 50%;
    margin: 0 auto;
    text-align: center;

    h1 {
      color: $secoundary;
    }

    .location {
      color: $gray;
      font-size: 1.4rem;
      text-transform: uppercase;
    }
  }
}
