@import "./components/normalize.scss";
@import "./components/variables.scss";
@import "./components/footer.scss";
@import "./components/header.scss";

.cover {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  background: url("../images/happy-senior-gardening.png") no-repeat center;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(94, 36, 49, 0.82);
    z-index: 0;
  }

  &--inner {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    z-index: 9;
    color: $white;
    position: relative;

    .sub--heading {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      a {
        font-size: 2.4rem;
        color: $primary;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 500;

        i {
          padding-left: 1rem;
        }
      }
    }
  }

  &--video {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    color: $white;
  }
}

#about {
  background: $background;
  margin-bottom: -2rem;
}

.card {
  position: relative;
  display: flex;
  background: $white;

  &--small {
    top: -5rem;
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
  }

  & > * {
    flex: 1 0 50%;
  }

  &--img {
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      max-height: 450px;
      object-fit: cover;
    }
  }

  &--body {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &--full {
    display: flex;

    & > * {
      flex: 1 0 50%;
    }
    .card--img img {
      min-height: 700px;
    }

    .card--body {
      padding: 15rem 10rem;
      justify-content: space-evenly;
    }

    .line {
      width: 200px;
      height: 2px;
      background: $copper;
      display: inline-block;
    }
  }

  &--reverse {
    flex-direction: row-reverse;
  }
}

.services {
  background-color: $background;
  text-align: center;
  padding: 1rem 0 7rem;
  background-image: url("../images/leaf-inverse.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: -20rem;
  background-position-y: 20rem;

  &--grid {
    padding: 3rem 0;
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;

    .services--item {
      display: flex;
      flex-direction: column;
      align-items: center;

      .img--wrapp {
        cursor: pointer;
        width: 90px;
        height: 90px;
        background: $copper;
        border-radius: 50%;
        display: flex;
        transition: all 0.3s ease-in-out;

        img {
          margin: auto;
          height: 50px;
          width: 50px;
        }
      }

      &:hover {
        .img--wrapp {
          transform: scale(1.05);
          //   box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 16px 0px;
        }
      }
    }
  }
}
