footer {
  background: $red;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .footer--inner {
    padding: 6rem 0;
    display: flex;
    justify-content: space-between;

    span {
      width: 44px;
      height: 44px;
      border: 1px solid #fff;
      border-radius: 50%;

      a {
        width: 100%;
        height: 100%;
        display: flex;
        color: $primary;
        font-size: 1.5rem;

        i {
          margin: auto;
          transition: transform 0.45s ease;
        }
      }
      &:hover i {
        transform: scale(1.2);
      }
    }

    .footer--location {
      display: flex;
      align-items: center;

      .location--details {
        p {
          line-height: 1.6;
          color: #fff;
          text-transform: uppercase;
        }
      }
      span {
        margin-right: 1.6rem;
      }
    }

    .footer--logo {
      img {
        width: 336px;
      }
    }

    .footer--social {
      display: flex;
      list-style: none;
      align-items: center;

      li {
        margin-left: 1rem;
        display: flex;
      }
    }

    @media screen and (max-width: $tablet) {
      flex-wrap: wrap;
      width: 80%;
      margin: 0 auto;
      text-align: center;
      & > * {
        flex-basis: 100%;
        margin-bottom: 3rem;
        justify-content: center;
      }

      .footer--logo {
        order: -1;
        img {
          width: 220px;
        }
      }
    }

    ul {
      margin-bottom: 0;
    }
  }

  .footer--nav {
    background: $valvet;
    padding: 3rem 0;
    display: flex;

    ul {
      margin: auto;
      list-style: none;
      display: flex;

      li {
        a {
          text-transform: uppercase;
          padding: 0 2rem;
        }

        &:hover a {
          color: $primary;
        }
      }
    }

    @media screen and (max-width: 320px) {
      display: none;
    }
  }
}
