header {
  position: absolute;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  z-index: 999;
  padding: 3rem 0;

  .inner {
    display: flex;
    justify-content: center;
    width: 80%;
    max-width: 800px;
    margin: 0 auto;

    ul {
      display: flex;
      justify-content: space-evenly;
      flex: auto;
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        font-size: 1.8rem;
        margin-top: 2.6rem;

        &.logo {
          margin-top: 0;
          img {
            width: 182px;
          }
        }

        a {
          text-transform: uppercase;
          color: $white;
          text-decoration: none;
          font-size: 1.4rem;
          display: inline-block;

          &:hover {
            color: $primary;
          }
        }
      }
    }

    .contact {
      position: absolute;
      right: 10rem;
      display: flex;
      align-items: center;

      a {
        font-size: 2rem;
        font-family: $playfair;
      }

      span {
        cursor: pointer;
        width: 40px;
        height: 40px;
        border: 1px solid $white;
        border-radius: 50%;
        display: flex;
        margin-right: 1.5rem;

        i {
          margin: auto;
          color: $primary;
          font-size: 1.2rem;
        }
      }
    }
  }
}
