header {
  position: absolute;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  z-index: 999;
  padding: 3rem 0;

  .inner {
    display: flex;
    justify-content: center;
    width: 80%;
    max-width: 800px;
    margin: 0 auto;

    h1.logo--desktop {
      display: none;
    }

    nav {
      width: 100%;
      ul {
        display: flex;
        justify-content: space-evenly;
        flex: auto;
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          font-size: 1.8rem;
          margin-top: 2.6rem;

          &.logo {
            margin-top: 0;
            img {
              width: 182px;
            }
          }

          a {
            text-transform: uppercase;
            color: $white;
            text-decoration: none;
            font-size: 1.6rem;
            display: inline-block;

            &:hover {
              color: $primary;
            }
          }
        }
      }

      @media screen and (max-width: $tablet) {
        display: none;

        a {
          font-size: 1.4rem;
        }
      }
    }

    .hamb-menu {
      display: none;
    }

    .contact {
      position: absolute;
      right: 5rem;
      display: flex;
      align-items: center;

      a {
        font-size: 2rem;
        font-family: $playfair;
      }

      span {
        cursor: pointer;
        width: 40px;
        height: 40px;
        border: 1px solid $white;
        border-radius: 50%;
        display: flex;
        margin-right: 1.5rem;

        i {
          margin: auto;
          color: $primary;
          font-size: 1.2rem;
        }
      }
    }
    @media screen and (min-width: 1400px) {
      max-width: 1000px;
    }

    @media screen and (max-width: $tablet) {
      // justify-content: space-between;
      h1.logo--desktop {
        display: inline-block;
        margin-top: 0;
        img {
          width: 182px;
        }
      }

      .contact {
        display: none;
      }

      .hamb-menu {
        position: absolute;
        display: inline-block;
        z-index: 999;
        font-size: 4rem;
        color: $primary;
        right: 3rem;
        cursor: pointer;
      }
    }
  }
}
