@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda&display=swap");

// @font-face {
//     font-family: 'Himalaya-Regular';
//     src: url('../../assets/fonts/Himalaya-Regular.eot?#iefix') format('embedded-opentype'), url('../../assets/fonts/Himalaya-Regular.woff') format('woff'), url('../../assets/fonts/Himalaya-Regular.ttf') format('truetype'), url('../../assets/fonts/Himalaya-Regular.svg#Himalaya-Regular') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }

//media query
$mobile: "480px";
$tablet: "768px";
$laptop: "960px";
$desktop: "1152px";
$widescreen: "1440px";
$large: "1660px";
$xlarge: "1920px";

// color
$primary: #ffcb84;
$secoundary: #ce8163;
$copper: #e6b59e;
$background: #f3f2f0;
$red: #5e2431;
$valvet: #551322;
$text: #52575d;
$gray: #808080;
$links: #ffe5e5;
$black: #000;
$white: #ffffff;
$alert: #e4001b;

// fonts
$raleway: "Raleway";
$cormorant: "Cormorant";
$bodoni: "Bodoni Moda", serif;

:root {
  margin: 0;
  padding: 0;
  font-size: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: $raleway, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  overscroll-behavior-y: none;
  color: $text;
}

h1,
h2,
h3 {
  font-family: $cormorant;
}

h4,
h5,
h6 {
  font-family: $cormorant;
}

h1 {
  font-size: 6.8rem;
  font-weight: bold;
}

h2 {
  font-size: 4.3rem;
  margin: 2rem 0;
  color: $text;
  font-weight: 600;
}

h3 {
  font-size: 2rem;

  @media (max-width: $desktop) {
    font-size: 1.6rem;
  }
}

p {
  font-size: 1.4rem;
  line-height: 3rem;
  color: $text;
}

a {
  color: $white;
  text-decoration: none;
  font-family: $cormorant;
  font-size: 1.4rem;

  &.read--more {
    color: $secoundary;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 500;

    i {
      margin-left: 0.6rem;
      color: $text;
    }
  }
}

.mobile {
  @media (max-width: $xlarge) {
    display: none !important;
  }
  @media (max-width: $mobile) {
    display: block !important;
  }
}

.desktop {
  @media (max-width: $large) {
    display: block !important;
  }
  @media (max-width: $mobile) {
    display: none !important;
  }
}

// Container
.container {
  //   width: 1345px;
  max-width: 1345px;
  margin: 0 auto;
  position: relative;

  @media (max-width: $xlarge) {
    .sm-block {
      display: none !important;
    }
    .md-block {
      display: flex !important;
    }
  }

  @media (max-width: $large) {
    // width: 1440px;
    max-width: 1440px;
    .sm-block {
      display: none !important;
    }
    .md-block {
      display: flex !important;
    }
  }

  @media (max-width: $widescreen) {
    width: 1153px;
    // min-width: 1153px;
  }

  @media (max-width: $desktop) {
    width: 961px;
    // min-width: 961px;
  }

  @media (max-width: $laptop) {
    width: 767px;
    // min-width: 767px;
  }

  @media (max-width: $tablet) {
    width: 560px;
    // min-width: 481px;
  }

  @media (max-width: $mobile) {
    width: 100%;
    // min-width: 320px;
    .sm-block {
      display: block !important;
    }
    .md-block {
      display: none !important;
    }
  }

  .row {
    display: flex;
    align-items: center;
    padding: 0 16px;

    @media screen and (max-width: $mobile) {
      padding: 0 !important;
      margin: 0 !important;
    }
  }
}

.container-fluid {
  padding: 0 48px;

  .row {
    display: flex;
    align-items: center;
    padding: 0 16px;

    @media (max-width: $mobile) {
      padding: 0;
      margin: 0;
    }
  }

  @media (max-width: $large) {
    padding: 0 1.5rem;
    &.sm-block {
      display: none !important;
    }
    &.md-block {
      display: block !important;
    }
  }

  @media (max-width: $mobile) {
    padding: 0 1.5rem;

    &.sm-block {
      display: block !important;
    }
    &.md-block {
      display: none !important;
    }
  }
}

.spacing-md {
  height: 80px;
  width: 100%;
}

.spacing-xl {
  height: 20vh;
  width: 100%;
}

.text-center {
  text-align: center;
}

.white {
  color: $white;
}

.red {
  color: $alert;
}

.subtitle {
  font-family: $cormorant;
  font-size: 34px;
  letter-spacing: 0px;
  color: #2e2d2b;
  margin-bottom: 3rem;
  text-transform: uppercase;

  @media screen and (min-width: $widescreen) {
    font-size: 2.5rem;
    line-height: 4rem;
  }
}
