@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap");
:root {
  margin: 0;
  padding: 0;
  font-size: 10px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  overscroll-behavior-y: none;
  color: #52575d;
  min-height: 100vh;
}

html.open,
body.open {
  overflow: hidden;
}

h1,
h2,
h3 {
  font-family: "Cormorant";
}

h4,
h5,
h6 {
  font-family: "Cormorant";
}

h1 {
  font-size: 6.8rem;
  font-weight: bold;
}

@media (max-width: 768px) {
  h1 {
    font-size: 5rem;
  }
}

@media (max-width: 320px) {
  h1 {
    font-size: 4rem;
  }
}

h2 {
  font-size: 4.3rem;
  margin: 2rem 0;
  color: #52575d;
  font-weight: 600;
}

@media (max-width: 768px) {
  h2 {
    font-size: 3.5rem;
  }
}

h3 {
  font-size: 2rem;
}

@media (max-width: 1152px) {
  h3 {
    font-size: 1.6rem;
  }
}

p {
  font-size: 1.6rem;
  line-height: 2;
  color: #52575d;
}

@media screen and (max-width: 480px) {
  p {
    font-size: 1.4rem;
  }
}

a {
  color: #ffffff;
  text-decoration: none;
  font-family: "Cormorant";
  font-size: 1.4rem;
}

a.read--more {
  color: #ce8163;
  font-size: 1.7rem;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
}

a.read--more i {
  margin-left: 0.6rem;
  color: #52575d;
  position: relative;
  display: inline-block;
}

a.read--more:hover i {
  -webkit-animation: arrow 1s ease infinite;
          animation: arrow 1s ease infinite;
}

@media (max-width: 1920px) {
  .mobile {
    display: none !important;
  }
}

@media (max-width: 480px) {
  .mobile {
    display: block !important;
  }
}

@media (max-width: 1660px) {
  .desktop {
    display: block !important;
  }
}

@media (max-width: 480px) {
  .desktop {
    display: none !important;
  }
}

.container {
  width: 80%;
  max-width: 1345px;
  margin: 0 auto;
  position: relative;
}

@media (max-width: 1920px) {
  .container .sm-block {
    display: none !important;
  }
  .container .md-block {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

@media (max-width: 1660px) {
  .container {
    max-width: 1440px;
  }
  .container .sm-block {
    display: none !important;
  }
  .container .md-block {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

@media (max-width: 1440px) {
  .container {
    width: 1153px;
  }
}

@media (max-width: 1152px) {
  .container {
    width: 961px;
  }
}

@media (max-width: 960px) {
  .container {
    width: 767px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 560px;
  }
}

@media (max-width: 480px) {
  .container {
    width: 100%;
  }
  .container .sm-block {
    display: block !important;
  }
  .container .md-block {
    display: none !important;
  }
}

.container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 16px;
}

@media screen and (max-width: 480px) {
  .container .row {
    padding: 0 !important;
    margin: 0 !important;
  }
}

.container-fluid {
  padding: 0 48px;
}

.container-fluid .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 16px;
}

@media (max-width: 480px) {
  .container-fluid .row {
    padding: 0;
    margin: 0;
  }
}

@media (max-width: 1660px) {
  .container-fluid {
    padding: 0 1.5rem;
  }
  .container-fluid.sm-block {
    display: none !important;
  }
  .container-fluid.md-block {
    display: block !important;
  }
}

@media (max-width: 480px) {
  .container-fluid {
    padding: 0 1.5rem;
  }
  .container-fluid.sm-block {
    display: block !important;
  }
  .container-fluid.md-block {
    display: none !important;
  }
}

.spacing-md {
  height: 80px;
  width: 100%;
}

.spacing-xl {
  height: 20vh;
  width: 100%;
}

.text-center {
  text-align: center;
}

.white {
  color: #ffffff;
}

.red {
  color: #e4001b;
}

.hidden {
  display: none;
}

.subtitle {
  font-family: "Cormorant";
  font-size: 34px;
  letter-spacing: 0px;
  color: #2e2d2b;
  margin-bottom: 3rem;
  text-transform: uppercase;
}

@media screen and (min-width: 1440px) {
  .subtitle {
    font-size: 2.5rem;
    line-height: 4rem;
  }
}

.swiper-container {
  overflow: hidden;
}

.swiper-container .swiper-horizontal > .swiper-pagination-bullets,
.swiper-container .swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-container .swiper-pagination-custom,
.swiper-container .swiper-pagination-fraction {
  bottom: 3rem;
}

.swiper-container .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-container .swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet,
.swiper-container .swiper-pagination-custom .swiper-pagination-bullet,
.swiper-container .swiper-pagination-fraction .swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  background: rgba(255, 255, 255, 0.6);
  border: 1px solid #ce8163;
  opacity: 1;
}

.swiper-container .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active,
.swiper-container .swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet.swiper-pagination-bullet-active,
.swiper-container .swiper-pagination-custom .swiper-pagination-bullet.swiper-pagination-bullet-active,
.swiper-container .swiper-pagination-fraction .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #fff;
  opacity: 1;
}

.swiper-container .swiper-custom-btn {
  position: absolute;
  top: 50%;
  left: 5rem;
  width: 60px;
  height: 60px;
  border: 1px solid #ce8163;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  z-index: 99;
  background: rgba(255, 255, 255, 0.2);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.swiper-container .swiper-custom-btn:hover {
  background: #f3dfd7;
}

.swiper-container .swiper-custom-btn.button-next {
  right: 5rem;
  left: unset;
}

.swiper-container .swiper-custom-btn:focus-within {
  outline: none;
}

.swiper-container .swiper-custom-btn i {
  margin: auto;
  color: #ce8163;
  font-size: 1.5rem;
}

@media screen and (max-width: 480px) {
  .swiper-container .swiper-custom-btn {
    display: none;
  }
}

.error {
  outline: 1px solid red;
}

@-webkit-keyframes arrow {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes arrow {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes scale {
  0% {
    width: 100%;
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  100% {
    width: 0%;
    -webkit-transform-origin: right;
            transform-origin: right;
  }
}

@keyframes scale {
  0% {
    width: 100%;
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  100% {
    width: 0%;
    -webkit-transform-origin: right;
            transform-origin: right;
  }
}

@-webkit-keyframes test {
  0% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes test {
  0% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*# sourceMappingURL=variables.css.map */